In [1]:
print("I'm going to inject %s here."%'something')

I'm going to inject something here.

In [5]:
print("I'm going to inject %s text here,and %s text here."%('some','more'))

I'm going to inject some text here,and more text here.

In [6]:
x,y='some','more'
print("I'm going to inject %s text here,and %s text here."%(x,y))

I'm going to inject some text here,and more text here.

In [14]:
print('He said his name was %s.'%'Fred')

He said his name was Fred.

In [15]:
print('He said his name was %r.'%'Fred')

He said his name was 'Fred'.

In [19]:
print('I once caught a fish %s.' %'this\t big')

I once caught a fish this	 big.

In [20]:
print('I once caught a fish %r.' %'this\t big')

I once caught a fish 'this\t big'.

In [21]:
print('I wrote %s programs today.'%3.75)

I wrote 3.75 programs today.

In [22]:
print('I wrote %d programs today.'%3.75)

I wrote 3 programs today.

In [26]:
print('Floating point numbers:%5.2f.'%(13.144))

Floating point numbers:13.14.

In [27]:
print('Floating point numbers:%1.0f'%(13.144))

Floating point numbers:13

In [28]:
print('Floating point numbers:%1.5f.'%(13.144))

Floating point numbers:13.14400.

In [29]:
print('Floating point numbers:%10.2f.'%(13.144))

Floating point numbers:     13.14.

In [30]:
print('Floating point numbers:%25.2f.'%(13.144))

Floating point numbers:                    13.14.

In [31]:
print('First:%s,Second:%5.2f,Third:%r.'%('hi',3.1415,'bye'))

First:hi,Second: 3.14,Third:'bye'.

In [35]:
print('The {2} {1} {0}'.format('fox','brown','quick'))

The quick brown fox

In [37]:
print('First object:{a},Second object:{b},Third object:{c}'.format(a=1,b='Two',c=12.3))

First object:1,Second object:Two,Third object:12.3

In [38]:
print('A %s saved is a %s earned.'%('penny','penny'))

A penny saved is a penny earned.

In [40]:
print('A {p} saved is a {p} earned.'.format(p='penny'))

A penny saved is a penny earned.

In [43]:
print('{0:8}|{1:9}'.format('Fruit','Quantity'))

Fruit   |Quantity

In [44]:
print('{0:8}|{1:9}.'.format('Apple',3.1))

Apple   |      3.1.

In [46]:
print('{0:8}|{1:9}'.format('Orange',10))

Orange  |       10

In [48]:
print('{0:<8}|{1:^8}|{2:>8}'.format('left','center','right'))
print('{0:<8}|{1:^8}|{2:>8}'.format(11,22,33))

left    | center |   right
11      |   22   |      33

In [53]:
print('{0:=<8}|{1:-^8}|{2:.>8}'.format('left','center','right'))
print('{0:=<8}|{1:-^8}|{2:.>8}'.format(11,22,33))

left====|-center-|...right
11======|---22---|......33

In [54]:
print('This is my ten character,two decimal numbers:%10.2f'%13.579)

This is my ten character,two decimal numbers:     13.58

In [60]:
print('This is my ten character, two decimal numbers:(0:10.2f)'.format(13.579))

This is my ten character, two decimal numbers:(0:10.2f)

In [66]:
name='Fred'
print(f"He said his name is {name}:")

He said his name is Fred:

In [68]:
print(f"He said his name is {name!r}")

He said his name is 'Fred'

In [69]:
num=23.45678
print("My 10 character,four decimal number is:{0:10.4f}.".format(num))

My 10 character,four decimal number is:   23.4568.

In [83]:
print(f" My 10 character,four decimal number is:{num:{10}.{6}}")

 My 10 character,four decimal number is:     23.45

In [71]:
num=23.45
print('My 10 character,four decimal number is:{0:10.4f}'.format(num))

My 10 character,four decimal number is:   23.4500

In [82]:
num=23.45
print(f"My 10 character,four decimal number is:{num:10.4f}")

My 10 character,four decimal number is:   23.4500